@{
    ViewData["Title"] = "Delivery Page";
}

<div class="text-center">
   
    <div class="containers">
        <div class="left-container">
            <img src="~/Images/images.png" alt="add" class="add-image">
        </div>
        <div class="middle-container">

            <h1 class="display-4">Dear Valued Participant!</h1>
          
            <p>You have to wait 3 business days to receive your Iphone</p>

            <div>
                <p>Here is your tracking number: CTAFT0000160477YQ</p>
            </div>
            <p>Thank you for your patience, the package is sent to your adress</p>



        </div>  
        <div class="right-container">
            <img src="~/Images/images.png" alt="add" class="add-image">
        </div>
    </div>
</div>
