@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <div class="containers">
        <div class="left-container">
            <img src="~/Images/images.png" alt="add" class="add-image">
        </div>
        <div class="middle-container">

            <h1 class="display-4">Dear Valued Participant!</h1>
            <p>
                We are thrilled to announce that you have been randomly selected as the grand prize winner of our exclusive iPhone Giveaway!
                Your entry has earned you a brand new iPhone, and we can't wait for you to experience the latest smartphone technology!
            </p>

            <p>To claim your prize, we will need you to register!:</p>

            <div class="forums-containers">
                <h2>Register a new user<br><br></h2>
                <form class="register-form" asp-action="Create" asp-controller="User" method="post">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" required><br><br>

                    <label for="password">Password:</label><br />
                    <input type="password" id="password" name="password" required><br><br>

                    <label for="email">Email:</label><br>
                    <input type="email" id="email" name="email" required><br><br>

                    <input type="submit" value="Submit">
                </form>
            </div>

            <div class="forums-containers">

                <h2>Login<br><br></h2>
                <p>If you already have an account, you can login and track your Iphone delivery</p>

                <form class="login-form" asp-action="Login" asp-controller="User" method="post">
                    <label for="username">Username:</label><br>
                    <input type="text" id="login-username" name="username" required><br><br>

                    <label for="password">Password:</label><br>
                    <input type="password" id="login-password" name="password" required><br><br>

                    <input type="submit" value="Submit">
                </form>
            </div>

        </div>  
        <div class="right-container">
            <img src="~/Images/images.png" alt="add" class="add-image">
        </div>
    </div>
</div>
