:root{

}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #333;
    background-image: radial-gradient(#555 1px, transparent 1px);
    background-size: 20px 20px;
    color: #f0f0f0;
}

header{

}