
/* Standard for skrift */
/*
    * Sans-serif
    * Header 1: 40px
        * Bold
    * Header 2: 30px
        * Bold
    * Header 3: 20px
        * Bold
    * Resume Paragraph 16px
        * Italic
    * Pargraph 16px
*/

/* Headers */
.h1 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}

.h2{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.h3{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}

/* Paragraphs and General Text*/

.resumep{
    font-family: sans-serif;
    font-size: 16px;
    font-style: italic;
}

.p{
    font-family: sans-serif;
    font-size: 14px;
}

.strong{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* Lists */

.menuHeader{
    background-color: black;
    display: flex;
    justify-content: center;
     
}

.menuHeader ul {
    display: flex;
    list-style-type: none; /* Remove default list styles */
    margin: 0;
    padding: 0;
}

.menuHeader ul a{
    position: relative;
    color: white;
    text-decoration: none;   
    font-size: 25px;
    font-family: Sans-serif;
    padding: 20px;
    transition: color 0.5s, transform 0.5s;
}
.menuHeader ul a:hover{
    color: rgb(245, 73, 101);
    transform: translateY(-5px);
}

.tileMe li{
    display: inline-flex;
    float: left;
}


section{
    background-color: white;
    border-style: inset;
    border-width: 20px;
  
    border-color: black;

    margin: 20px;
    padding: 30px;

}

img{
  width: 30%;
  object-fit: cover;
}


