h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: Helvetica, sans-serif
}

.menuHeader{
background-color: black;
align-content: center;
text-align: center;

}
.menuHeader ul li a{
    color: white;
    text-decoration: none;
    margin: 0px 10px;    
}

section{
    background-color: white;
    border-style: dotted;
    border: 5px;
    border-color: black;
}

img{
    width: 80%;
}

