
/* Variables */
:root {
     
    /* Colors */
    --background-color-primary: #1C1F26;
    --background-color-secondary: #FFFFFF;
    
    --text-color-primary-on-white: #1c222b;
    --text-color-secondary-on-white: #424c5a;

    --text-color-primary-on-black: #FFFFFF;
    --text-color-secondary-on-black: #acacac;
    
    --highlight-color-primary: #FF6B35;
    --highlight-color-secondary: #007BFF;

    /* Fonts */
    --font-primary: 'Roboto', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
    --font-tertiary: 'Montserrat', sans-serif;

    /* Spacing */

    --Spacing-tiny: 0.5rem;
    --spacing-small: 1rem;
    --spacing-medium: 2rem;
    --spacing-large: 3rem;

    /* Font Sizes */

    --font-size-small: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-xlarge: 3rem;
    --font-size-xxlarge: 4rem;


}


body{
    font-family: var(--font-primary);
    padding: 0;
    margin: 0;
}

.button:hover{
    cursor: pointer;
}
.form-button:hover{
    cursor: pointer;
}

.title {
    font-family: var(--font-primary);

    font-size: var(--font-size-xxlarge);
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}
.subtitle {
    font-family: var(--font-tertiary);

     color: var(--text-color-secondary-on-black);
     font-size: var(--font-size-medium)
}
.paragraph {
    font-family: var(--font-secondary);
    color: var(--text-color-primary-on-white);
    font-size: var(--font-size-medium);
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
}

.link-button{
    color: var(--text-color-primary-on-black);
    background: var(--highlight-color-secondary);
    border-radius: 5px;
    padding: var(--Spacing-tiny);
    text-decoration: none;
    margin: var(--spacing-small);
}

.two-column-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: var(--spacing-medium);
}

.left-column{
    width: 50%;
    padding: var(--spacing-medium);
}

.right-column{
    width: 50%;
    padding: var(--spacing-medium);
}


/*Header*/

.header {
    display: flex;

    align-items: center;
    background-color: var(--background-color-primary);
}

.header-title {
    color: var(--text-color-primary-on-black);
    white-space: nowrap;
}

.nav-list {
    display: flex;
    align-items: center;
    width: 100%;

    margin-left: var(--spacing-large);
    
}

.header ul li {
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    display: inline;
    
}

.header ul li a {
    text-decoration: none;
    color: var(--text-color-primary-on-black);
    transition: color  0.1s ease-in-out;
}

.header .nav-button a:hover {
    color: var(--highlight-color-secondary);
}


.nav-button-highlighted {
    background-color: var(--highlight-color-secondary);
    color: var(--text-color-primary-on-black);
    padding: var(--Spacing-tiny);
    border-radius: 5px;
    margin-left: var(--spacing-small);
}

.logo {
    width: 75px;
    height: 75px;
    object-fit: fill;
    margin: var(--spacing-small);
    
}


/* Hero container*/
.hero-section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    justify-content: space-around;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-primary);
    padding: var(--spacing-medium);
    background: rgba(28, 31, 38, 0.696);
    backdrop-filter: blur(15px);

    color: var(--text-color-primary-on-black);
}

/* About Section */
.about-website-section{
    background-color: var(--background-color-primary);
    padding: var(--spacing-small);
}

.about-website-section p{
    color: var(--text-color-secondary-on-black);
    font-size: var(--font-size-medium);
    margin: var(--spacing-small);
}

.about-website-section h1{
    color: var(--text-color-primary-on-black);
    font-size: var(--font-size-xxlarge);
    margin-bottom: var(--spacing-medium);
}
.about-website-section img{
    width: 100%;
}

/* all-in-one-website-section */

.all-in-one-website-section{
    padding: var(--spacing-small);

}

.all-in-one-website-section img{
    width: 100%;
    object-fit: cover;
    margin: var(--spacing-small);
    
}

.all-in-one-website-section p{
    color: var(--text-color-secondary-on-white);
    font-size: var(--font-size-medium);
    margin: var(--spacing-small);
}

.all-in-one-website-section h1{
    color: var(--text-color-primary-on-white);
    margin: var(--spacing-small);
}

.small-banners{
    display: flex;
}

.small-banners .left-column, .small-banners .right-column{
    padding: 0px;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}



.small-banners img{
    width: 200px;
    height: 200px;
    object-fit: fill;
    margin: var(--spacing-small);
}

.small-banners h1{
    color: var(--text-color-primary-on-white);
    font-size: var(--font-size-large);
    margin: var(--spacing-small);
}

/* Choose path section */

.grid-container{
    display: grid;
    justify-items: center;

    margin: var(--spacing-medium);
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: var(--spacing-small);
    background-image: url(/Assets/Images/how-hot-is-too-hot-for-pc-hardware-v0-u9gxc_Iitl5IiZcCA-h88cPGfpnm3dEMx_9dHN-lChc.webp);
    
    background-position: center;
    background-size: cover;


}
.grid-content {
    width: 100%;
    height: 100%;
    justify-items: center;
    backdrop-filter: blur(50px);
    background: rgba(0, 0, 0, 0.368);
    transition: transform 0.3s ease-in-out;
}

.grid-content:hover {
    transform: scale(1.05);
    cursor: pointer;
}


.grid-content p, .grid-content h1{
   color: var(--text-color-primary-on-black);
   margin: var(--spacing-large);
}
.grid-content p{
    font-size: var(--font-size-medium);
}
.grid-content h1{
    font-size: var(--font-size-large);

}

/* Discover Section */

.discover-section{
    display: flex;
    justify-content: center;
    background-color: var(--background-color-secondary);
}

.grid-container-banner{
    display: flex;

    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: var(--spacing-small);
    
    background-position: center;
    background-size: cover;

}



.grid-container-banner .grid-content{
    width: 100%;
    height: 500px;
    border-radius: 5px;
}

.grid-container-banner .grid-content p{
    font-size: var(--font-size-medium);
}

.glass-panel{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: -1;
}

.post-section{
    display: flex;
    background-color: var(--background-color-primary);
    color: var(--text-color-primary-on-black);
    padding: var(--spacing-small);
}

/* Footer */

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: var(--background-color-primary);
    color: var(--text-color-primary-on-black);
    padding: var(--spacing-small);
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-content h2{
    font-size: var(--font-size-small);
    margin: var(--spacing-medium);
}

/* Lessons Section */

.page-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-color-secondary);
    color: var(--text-color-primary-on-black);
    padding: var(--Spacing-tiny);
    border-radius: 5px;
    margin-top: var(--spacing-large);
    text-decoration: none; 
    font-size: var(--font-size-small);
    margin-right: var(--spacing-medium);
}
.page-button:hover{
    cursor: pointer;
}

.form-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--highlight-color-secondary);
    color: var(--text-color-primary-on-black);
    padding: var(--Spacing-tiny);
    border-radius: 5px;
    margin-top: var(--spacing-large);
    font-size: var(--font-size-small);
}

.lessons-container .two-column-container {
    display: flex;
    justify-content: normal;
    align-items: stretch; 
    margin: 0px;
}

.lessons-container .two-column-container .left-column {
    display: flex;
    background-color: var(--background-color-primary);
    width: 400px;
    height: auto; 
}

.lessons-container .two-column-container .right-column{
    margin-left: 100px;
    width: 100%;;

}

.lessons-container .two-column-container .right-column .two-column-container .left-column{
    width: 100%;;
    height: fit-content;
    background-color: var(--background-color-secondary);
    padding: 0px

}
.lessons-container .two-column-container .right-column .two-column-container .right-column{
    width: 50%;;
    height: fit-content;
    background-color: var(--background-color-secondary);
    padding: var(--spacing-medium);
}

.lessons-container .two-column-container .right-column .two-column-container .right-column img{
    width: 100%;
    margin: var(--spacing-medium);
}

.lessons-menu h1{
    color: var(--text-color-primary-on-black);
    font-size: var(--font-size-xlarge);
    
}
.dropbtn{

    display: flex;
    font-size: var(--font-size-medium);

    background-color: var(--background-color-);
    color: var(--text-color-primary-on-black);
    padding: var(--Spacing-tiny);
    width: 400px;
}

.dropbtn:hover{
    background-color: var(--highlight-color-secondary);
    cursor: pointer;
}

.dropdown-content {
    display: none; /* Hidden by default */
    opacity: 0; /* Fully transparent */
  }
  
  .dropdown-content a {

    color: var(--text-color-primary-on-black);
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  .dropdown-content a:hover {

    cursor: pointer;
    background-color: var(--highlight-color-secondary);
  }

  


  .dropdown-content.show {
    display: block;
    opacity: 1; /* Fully visible */
  }


  .lessons-content, .lessons-content-show{
    color: var(--text-color-primary-on-white);
    padding: var(--spacing-small);
  }

  .lessons-content, .lessons-content-show{
    color: var(--text-color-primary-on-white);
    padding: var(--spacing-small);
  }

  .lessons-content-show {
    display: block;
}
.lessons-content {
    display: none;
}

  .questions-quiz{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--text-color-primary-on-black);

    background-color: var(--background-color-primary);
    padding: var(--spacing-medium);

  }

  .Choices{
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: var(--spacing-small); /* Optional: Add spacing between the elements */
  }

    .Choices input:hover{
        cursor: pointer;
    }

  .page-indicator{
    display: flex;
     align-items: baseline;
     margin-left: var(--spacing-small);
  }

  /* Components */

  .filter-container {
    padding:  var(--spacing-small);
    background-color: var(--background-color-secondary);
    border-radius: 8px;
    margin: var(--spacing-medium), 0;
}

.filter-container label {
    display: block;
    margin: var(--spacing-small) 0 var(--spacing-small);
    font-weight: bold;
}

.filter-container input, .filter-container select, .filter-container button {
    padding: var(--spacing-small);
    margin-bottom: var(--spacing-small);
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--text-color-primary-on-white);
    border-radius: 4px;
}

.filter-container button {
    background-color: var(--highlight-color-secondary);
    color: var(--text-color-primary-on-black);
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
}

.filter-container button:hover {
    transform: translateY(-1px);
}

.resultsContainer h3{
    color: var(--text-color-primary-on-black);
}
#resultsContainer {
    margin-top: 20px;
}

#resultsList {
    list-style: none;
    padding: 0px;
}

#resultsList li {
    margin: 10px 0px;
    padding: var(--spacing-small);
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

#resultsList li {
    margin: 10px 0px;
    padding: var(--spacing-small);
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
}

#component-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: self-start;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    margin-bottom: 10px;
}

#component-item button {
    background-color: var(--highlight-color-secondary);
    color: var(--text-color-primary-on-black);
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 4px;

    padding: var(--spacing-small);
    margin-top: var(--font-size-medium);
}

#component-item button:hover{
    transform: translateY(-1px);
}

/* Build Section */

.build-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-small);
   
    margin-bottom: var(--spacing-small);
}

.three-column-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: var(--spacing-medium);
}

.added-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-small);
    margin: var(--spacing-small);
}

.three-column-container .left-column, .three-column-container .middle-column, .three-column-container .right-column {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: var(--spacing-small);
    padding: var(--spacing-small);
}

.three-column-container .left-column .build-slot, .three-column-container .middle-column .build-slot, .three-column-container .right-column .build-slot{
    
    border: 1px solid var(--text-color-primary-on-white);
    border-radius: 4px;
    margin: var(--spacing-small);
    width: 300px;
    padding: var(--spacing-medium);

}

.benchmark-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-primary);
    color: var(--text-color-primary-on-black);
    padding: var(--spacing-small);
}

.benchmark-stat-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.benchmark-stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-small);
    margin: var(--spacing-medium);

    border: 1px solid var(--text-color-primary-on-black);
    border-radius: 4px;
    min-width: 400px;

}

.benchmark-stat h2{
    font-size: var(--font-size-large);
}

.benchmark-stat p{
    color: var(--highlight-color-primary);
    font-size: var(--font-size-medium);
}